<footer class="py-24 bg-gray-400">
  <div class="aa-container text-center">
    <p>Copyright © 2013-{{ site.buildYear }} anaurelian. All rights reserved.</p>
    <p class="mt-8">Only first-party cookies to analyze traffic to this site. <a href="/about/privacy/" class="font-bold hover:underline">Privacy Policy</a></p>
  </div>
</footer>
